//Màu cứ theo đây mà lấy, cái nào có note % phía sau là độ trong suốt của nó á.
$headbar-color: #27374d;
$footer-color: #526d82;
$cate-color: #9db2bf;
$sidebar-color: #dde6ed;
$black-color: #000000;
$orange-color: #ff7222;
$red-color: #ff7e7e;
$green-color: #59fed6;
$cover-color: #27374d; //55%
$popupcover: #d9d9d9; //35%
